/* Para que el gradiente no se repita en el fondo */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    font-family: $fuente-principal;
    background: $fondo;
    color: $color-secundario;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav-link,
.navbar-nav .nav-link,
li, p {
    color: $color-secundario;
    list-style: none;
}

header {
    background-color: $color-terciario;
    align-items: center;
    width: 100%;
    padding: 1rem;
    position: sticky;
    top: 0px;
    z-index: 1;
    a {
        font-size: $fuente-media !important;
    }

}

.logo {
    width: 0.5rem;
    padding-left: 1rem;
}

h1, h2, h4 {
    color: $color-secundario;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: $espacio-chico;
}

footer {
    background-color: $color-terciario;
    font-size: 1.1rem;
    @include flex-fila-start;
    width: 100%;
    text-decoration: none;
    bottom: 0;
}

